// Solo lectura pública.
// Escritura: solo usuarios autenticados y en la whitelist (por custom claim simple vía email).
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && (request.auth.token.email in [
          "martin@example.com",
          "vos@example.com"
        ]);
    }
    match /cars/{id} {
      allow read: if true;             // público
      allow create, update, delete: if isAdmin();
    }
  }
}
